<div class="category">
  <div>
    <p>Category</p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="id">ID</th>
        <th scope="col" sortable="name">Name</th>
        <th scope="col" sortable="brief">Brief</th>
        <th scope="col" sortable="parent">Parent</th>
        <th scope="col" sortable="gst">GST %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td scope="row">{{ category.category_id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.brief}}</td>
        <td>{{category.parent}}</td>
        <td>{{category.gst}}</td>
      </tr>
    </tbody>
  </table>
</div>