<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item list-inline">
        <a class="navbar-brand active" (click)="viewHome()">Home</a>
      </li>
      <li *ngIf="isBuyer" class="nav-item list-inline">
        <a class="navbar-brand" (click)="viewOrder()">Order</a>
      </li>
      <li *ngIf="isSellter" class="nav-item list-inline">
        <a class="navbar-brand " (click)="viewReport()">Report</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item list-inline">
        <a class="navbar-brand" (click)="viewCategory()">Category</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item list-inline">
        <a class="navbar-brand" (click)="viewItem()">Item</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item list-inline">
        <a class="navbar-brand" (click)="viewUser()">User</a>
      </li>
      <li class="nav-item list-inline">
        <a class="navbar-brand" (click)="viewAbout()">About</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="isBuyer">
      <li class="nav-item active list-inline">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <a *ngIf="!isSignin" class="btn btn-primary" (click)="signIn()">Sign in</a>
<!--      <button *ngIf="!isSignin" class="btn btn-primary" (click)="signIn()" type="submit">Sign in</button>-->
      <a *ngIf="isSignin" class="btn btn-secondary" (click)="signOut()">Sign Out</a>
    </form>
  </div>
</nav>
