<div class="div-signin">
  <form class="form-signin" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ngModel name="name" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
      autofocus>
    <div *ngIf="name_required" class="alert alert-danger" (click)="name_required=!name_required">
      User Name is required.
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <div *ngIf="password_required" class="alert alert-danger" (click)="password_required=!password_required">
      Password is required.
    </div>
    <div *ngIf="login_fail" class="alert alert-danger" (click)="login_fail=!login_fail">
      {{login_fail_message}}
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <hr class="mb-4">
    <p class="small text-center text-gray-soft">Don't have an account yet? <a href="register">Sign up</a></p>
  </form>
</div>